# Python Distribution Package Requirements for Automatic APRS Gateway.
#
# Source:: https://github.com/ampledata/automatic_aprs
# Author:: Greg Albrecht W2GMD <oss@undef.net>
# Copyright:: Copyright 2017 Greg Albrecht
# License:: Apache License, Version 2.0


flask
aprs >= 6.0.0
